[Unit]
Description=Gunicorn instance to serve garage door application
After=network.target

[Service]
User=outjet
Group=www-data
WorkingDirectory=/home/outjet/Code/garage-pi
ExecStart=/home/outjet/Code/garage-pi/.venv/bin/gunicorn --workers 1 --bind 0.0.0.0:8443 --certfile=/etc/letsencrypt/live/outgar.duckdns.org/fullchain.pem --keyfile=/etc/letsencrypt/live/outgar.duckdns.org/privkey.pem --ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305' app:app
Restart=always
RestartSec=5
SyslogIdentifier=gunicorn_garage

[Install]
WantedBy=multi-user.target
